<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacto</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>

<div class="inicio">
<h1 id="titulo">Contacto</h1>
</div>

<div class="paginas">
<a id="inicioBtn" href="/">Inicio</a>
    <a id="proyectos" href="/proyectos">proyectos</a>
  <a id="contacto" href="/contacto">Contacto</a>



</div>
    

     <script src="js/contador.js"></script>
    
</body>
</html>